
 
 h1,h4 {
   text-align:center;  
    margin-top: 100px;
    color: navy;
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4, h5 {
   font-size: 33px;
   margin-top: 100px;
   color: rgb(11, 11, 109); 
}

h5 {
   font-size: 15px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


form {
   text-align:center;  
    margin-top: 70px;
    font-size:14pt;
}

form button {
   color: rgb(10, 10, 134);
}

.clear {
   color: rgb(156, 13, 13);
   margin-top: 10px;
   margin-right: 30px;
}

div {
   display:inline-table;
   text-align: auto;
  position: relative;
  margin-left: 200px;
 }